/* include border and padding size inside html element's dimensions */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* allow app to span full page dimensions */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #000000;
}

a:visited, a:link, a:active
{
    text-decoration: none;
}

a {
  color: #ffffff;
}

nav a:hover {
  color: #881C2B;
}

nav {
  text-decoration: none;
}

body {
  font-family: 'Abel', sans-serif;
  background: #881C2B;
}

#masterhead {
  text-align: center;
    color: #ffffff;
    background: #000000;
    height: 120px;
    width: 100%;
    position: absolute;
    animation: slideInDown 1.5s linear;
    position: fixed;
    z-index: 1;
    border-bottom: solid 3px #881C2B;
    display: grid;
}

#menu1 {
  grid-row: 1;
  grid-column: 1;
  font-size: 40px;
  margin-top: 1%;
  font-family: 'Great Vibes', cursive;
}

#menu2 {
  grid-row: 2;
  grid-column: 1;
  font-size: 20px;
  margin-top: 1%;
}

.menuitem {
  margin-right: 20%;
}

#porlogo {
  margin-right: 5px;
  height: 55px;
  width: 40px;
}

#homecont {
    text-align: center;
    color: #ffffff;
    background: #000000;
}

.slideimg {
  height: 650px;
}

.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
}

.carousel-control-next-icon {
  height: 50px;
  width: 50px;
}

.slidetext {
  font-size: 30px;
  font-family: 'Great Vibes', cursive;
}

#viewcont {
  border-top: solid 3px #881C2B;
  background: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 5%;
  padding-right: 5%;
}

#viewconttext {
  font-size: 26px;
  margin-bottom: 10%;
}

#viewinventorybtn {
  color: #ffffff;
  border: solid #ffffff 3px;
  padding: 10px;
  font-size: 40px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

#viewinventorybtn:hover {
  color: #881C2B;
  background: #ffffff;
}

.parkfont {
font-family: 'Great Vibes', cursive;
}

#mainfoot {
  padding-top: 20%;
  padding-bottom: 0%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
    background: #000000;
    color: #ffffff;
    width: 100%;
    border-top: solid #881C2B 3px;
}

.texthead {
  border-top: solid #881C2B 3px;
  border-bottom: solid #881C2B 3px;
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}

.textpara {
  padding-top: 20%;
  font-size: 26px;
  padding-bottom: 20%;
}

.socialimg {
  height: 80px;
  width: 80px;
}

.social {
  margin-bottom: 20%;
}

.social:hover {
  color: #881C2B;
}


#specimg {
  height: 50px;
  width: 50px;
  margin: 15px 0px;
}

#copyrights {
  font-size: 14px;
  padding-top: 5%;
  padding-bottom: 5%;
  background: #000000;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.footername {
  border-bottom: solid 3px #881C2B
}

.footername:hover {
  color: #881C2B;
}

.thyline {
  border-bottom: solid 3px #881C2B;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    /* background-color: rgba(32, 152, 209, 0.75); */
  }
}
@keyframes hvr-back-pulse {
  50% {
    /* background-color: rgba(32, 152, 209, 0.75); */
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* background-color: #2098D1; */
  /* background-color: #2098d1; */
  /* color: white; */
}

@media (min-width: 600px) {
  #masterhead {
    text-align: center;
      color: #ffffff;
      background: #000000;
      height: 120px;
      width: 100%;
      position: absolute;
      animation: slideInDown 1.5s linear;
      position: fixed;
      z-index: 1;
      border-bottom: solid 3px #881C2B;
      display: grid;
  }

  #menu1 {
    grid-row: 1;
    grid-column: 1;
    font-size: 40px;
    margin-top: 1%;
    font-family: 'Great Vibes', cursive;
  }

  #menu2 {
    grid-row: 2;
    grid-column: 1;
    font-size: 20px;
    margin-top: 1%;
  }

  .menuitem {
    margin-right: 20%;
  }

  #porlogo {
    margin-right: 5px;
    height: 55px;
    width: 40px;
  }

  #homecont {
      text-align: center;
      color: #ffffff;
      background: #000000;
  }

  .slideimg {
    height: 100%;
  }

  .carousel-control-prev-icon {
    height: 100px;
    width: 100px;
  }

  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
  }

  .slidetext {
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
  }

  #viewcont {
    border-top: solid 3px #881C2B;
    background: #000000;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  #viewconttext {
    font-size: 26px;
    margin-bottom: 5%;
  }

  #viewinventorybtn {
    color: #ffffff;
    border: solid #ffffff 3px;
    padding: 10px;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
  }

  #viewinventorybtn:hover {
    color: #881C2B;
    background: #ffffff;
  }

  .parkfont {
  font-family: 'Great Vibes', cursive;
  }

  #mainfoot {
    padding-top: 10%;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
      background: #000000;
      color: #ffffff;
      width: 100%;
      bottom: 0;
      border-top: solid #881C2B 3px;
  }

  .texthead {
    border-top: solid #881C2B 3px;
    border-bottom: solid #881C2B 3px;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
  }

  .textpara {
    padding-top: 10%;
    font-size: 26px;
    padding-bottom: 10%;
  }

  .socialimg {
    height: 80px;
    width: 80px;
  }

  .social {
    margin-bottom: 10%;
  }

  .social:hover {
    color: #881C2B;
  }


  #specimg {
    height: 55px;
    width: 55px;
    padding-right: 5px;
  }

  #copyrights {
    font-size: 14px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }

  .footername {
    border-bottom: solid 3px #881C2B
  }

  .footername:hover {
    color: #881C2B;
  }

  .thyline {
    border-bottom: solid 3px #881C2B;
  }
}

@media (min-width: 900px) {
  #masterhead {
    text-align: center;
      color: #ffffff;
      background: #000000;
      height: 80px;
      width: 100%;
      position: absolute;
      animation: slideInDown 1.5s linear;
      position: fixed;
      z-index: 1;
      border-bottom: solid 3px #881C2B;
      display: grid;
      grid-template-columns: 50% 50%;
  }

  #menu1 {
    grid-row: 1;
    grid-column: 1;
    font-size: 40px;
    margin-top: 1%;
    font-family: 'Great Vibes', cursive;
  }

  #menu2 {
    grid-row: 1;
    grid-column: 2;
    font-size: 20px;
    margin-top: 5%;
  }

  .menuitem {
    margin-right: 10%;
  }

  #porlogo {
    margin-right: 0px;
    height: 55px;
    width: 40px;
  }

  #homecont {
      text-align: center;
      color: #ffffff;
      background: #000000;
  }

  .slideimg {
    height: 100%;
  }

  .carousel-control-prev-icon {
    height: 100px;
    width: 100px;
  }

  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
  }

  .slidetext {
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
  }

  #viewcont {
    border-top: solid 3px #881C2B;
    background: #000000;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
  }

  #viewconttext {
    text-align: left;
    grid-row: 1;
    grid-column: 1;
    font-size: 26px;
    margin-bottom: 0%;
  }

  #viewinventorybtn {
    grid-row: 1;
    grid-column: 2;
    color: #ffffff;
    border: solid #ffffff 3px;
    padding: 10px;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
  }

  #viewinventorybtn:hover {
    color: #881C2B;
    background: #ffffff;
  }

  .parkfont {
  font-family: 'Great Vibes', cursive;
  }

  #mainfoot {
    padding-top: 5%;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
      background: #000000;
      color: #ffffff;
      width: 100%;
      bottom: 0;
      border-top: solid #881C2B 3px;
      display: grid;
      grid-template-columns: 50% 50%;
  }

  #abouttanner {
    grid-row: 1;
    grid-column: 1;
  }

  #contacttanner {
    grid-row: 1;
    grid-column: 2;
  }

  .texthead {
    border-top: solid #881C2B 3px;
    border-bottom: solid #881C2B 3px;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
  }

  .textpara {
    padding-top: 5%;
    font-size: 26px;
    padding-bottom: 0%;
  }

  #tannertext {
    text-align: left;
  }

  #tannericon {
    text-align: right;
  }

  .socialimg {
    height: 80px;
    width: 80px;
  }

  .social {
    margin-bottom: 5%;
  }

  .social:hover {
    color: #881C2B;
  }


  #specimg {
    height: 55px;
    width: 55px;
    padding-right: 5px;
  }

  #copyrights {
    font-size: 14px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .footername {
    border-bottom: solid 3px #881C2B
  }

  .footername:hover {
    color: #881C2B;
  }

  .thyline {
    border-bottom: solid 3px #881C2B;
    margin-bottom: 1%;
    margin-top: 5%;
  }
}
