a:visited, a:link, a:active
{
    text-decoration: none;
}

a {
  color: #ffffff;
}

nav a:hover {
  color: #881C2B;
}

nav {
  text-decoration: none;
}

body {
  font-family: 'Abel', sans-serif;
  background: #000000;
}

#masterhead {
  text-align: center;
    color: #ffffff;
    background: #000000;
    height: 150px;
    width: 100%;
    position: absolute;
    animation: slideInDown 1.5s linear;
    position: fixed;
    z-index: 1;
    border-bottom: solid 3px #881C2B;
}

#menu1 {
  font-size: 58px;
  margin-left: 3%;
  margin-top: 2%;
  float: left;
  font-family: 'Great Vibes', cursive;
}

.secttitle {
  font-size: 58px;
  border-top: solid 3px #881C2B;
  border-bottom: solid 3px #881C2B;
  margin-bottom: 20%;
  text-align: center;
}

#menu2 {
  font-size: 34px;
  margin-right: 3%;
  margin-top: 4.2%;
  float: right;
}

.menuitem {
  margin-right: 20px;
}

#porlogo {
  margin-right: 10px;
  height: 75px;
  width: 55px;
}

#homecont {
    height: 100%;
    text-align: center;
    color: #ffffff;
    background: #000000;
}

.carousel-control-prev-icon {
  height: 100px;
  width: 100px;
}

.carousel-control-next-icon {
  height: 100px;
  width: 100px;
}

.slideimg {
  height: 1000px;
}

.slidetext {
  font-size: 120px;
  padding-bottom: 50%;
  font-weight: bold;
}

#viewcont {
  border-top: solid 3px #881C2B;
  background: #000000;
  color: #ffffff;
  height: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

#viewtopline {
  border-top: solid 3px #881C2B;
}

#viewinventorybtn {
  color: #ffffff;
  border: solid #ffffff 3px;
  padding: 30px;
  font-size: 90px;
  border-radius: 10px;
  text-align: center;
}

#viewinventorybtn:hover {
  color: #881C2B;
  background: #ffffff;
}

.parkfont {
font-family: 'Great Vibes', cursive;
}

#mainfoot {
  padding-top: 5%;
  padding-bottom: 1%;
  text-align: center;
    background: #000000;
    color: #ffffff;
    height: 100%;
    width: 100%;
    bottom: 0;
    border-top: solid #881C2B 3px;
}

#footerwrap {
  padding-top: 1.5%;
  padding-bottom: 0%;
}

.socialimg {
  height: 80px;
  width: 80px;
}

.social {
  margin-bottom: 20%;
}

.social:hover {
  color: #881C2B;
}

#socialwrap {

}


#specimg {
  height: 55px;
  width: 55px;
  padding-right: 5px;
}

#footerpara {
  text-align: left;
  font-size: 52px;
  margin-top: 2%;
  margin-bottom: 2%;
}

#footertext {
  margin-left: 5%;
  margin-bottom: 10%;
}

#picnphone {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 2%;
  font-size: 52px;
}

#littletanner {
  margin-top: 5%;
  height: 400px;
  width: 325px;
  border-radius: 10px;
}

#copyrights {
  font-size: 18px;
  padding-top: 0%;
  padding-bottom: 0%;
}

.footername {
  padding-bottom: .5%;
  border-bottom: solid 3px #881C2B
}

.footername:hover {
  color: #881C2B;
}

.thyline {
  border-bottom: solid 3px #881C2B;
  margin-bottom: 1%;
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes hvr-back-pulse {
  50% {
    /* background-color: rgba(32, 152, 209, 0.75); */
  }
}
@keyframes hvr-back-pulse {
  50% {
    /* background-color: rgba(32, 152, 209, 0.75); */
  }
}
.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /* background-color: #2098D1; */
  /* background-color: #2098d1; */
  /* color: white; */
}

@media only screen and (min-width: 992px){

.socialimg {
  height: 50px;
  width: 50px;
}

#specimg {
  height: 35px;
  width: 35px;
}

  #masterhead {
      height: 85px;
      width: 100%;
      z-index: 1;
      font-size: 28px;
  }

  #menu1 {
    font-size: 50px;
    margin-left: 3%;
    margin-top: 0%;
  }

  #menu2 {
    font-size: 30px;
    margin-right: 3%;
    margin-top: 1.1%;
  }

  .secttitle {
    font-size: 30px;
    margin-bottom: 10%;
    margin-top: 5%;
  }

  .menuitem {
    margin-right: 20px;
  }

  #porlogo {
    margin-right: 10px;
    height: 75px;
    width: 55px;
  }

  #homecont {
    background: #000000;
      height: 100%;
  }

  .slideimg {
    height: 725px;
  }

  .slidetext {
    font-size: 100px;
    padding-bottom: 22.5%;
  }

  .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
  }

  .carousel-control-next-icon {
    height: 50px;
    width: 50px;
  }

  #viewcont {
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #viewinventorybtn {
    background: #000000;
      color: #ffffff;
      border: solid #ffffff 3px;
    padding: 25px;
    font-size: 54px;
  }

  #viewinventorybtn:hover {
    color: #881C2B;
    background: #ffffff;
  }

  #mainfoot {
    padding-top: 2.5%;
    padding-bottom: 1%;
      height: 100%;
      width: 100%;
      bottom: 0;
      font-size: 24px;
  }

  #footerwrap {
    padding-top: .3%;
    padding-bottom: .3%;
  }

  #socialwrap {
    margin-top: 0%;
  }

  .social {
    margin-bottom: 2.5%;
  }

  #footerpara {
    text-align: left;
    font-size: 26px;
    margin-top: 0%;
    margin-bottom: 2.5%;
    margin-left: 0%;
  }

  #footertext {
    margin-left: 0%;
  }

  #picnphone {
    margin-top: 0%;
    text-align: right;
    margin-bottom: 2.5%;
    font-size: 26px;
  }

  #littletanner {
    height: 275px;
    width: 225px;
  }

  .footername {
    padding-bottom: 0%;
  }

  .thyline {
    margin-top: 2.5%;
    margin-bottom: 1%;
  }

  #copyrights {
    font-size: 12px;
    padding-top: 0%;
    padding-bottom: 0%;
  }

}
